extends ../layouts/application.pug

block content
  table.table
    thead
      tr
        th(scope="col")= t('views.users.id')
        th(scope="col")= t('views.users.email')
        th(scope="col")
    tbody
      each user in users
        tr
          td(scope="col")= user.id
          td(scope="col")= user.email
          td(scope="col")
            a(href=route('editUser', { id: user.id }))= t('views.users.index.edit')
            +buttonTo(route('deleteUser', { id: user.id }), 'delete')(class="btn btn-link" value=t('views.users.index.delete'))

