extends ../layouts/application.pug

block content
  table.table
    thead
      tr
        th(scope="col")= t('views.statuses.id')
        th(scope="col")= t('views.statuses.name')
        th(scope="col")
    tbody
      each status in statuses
        tr
          th(scope="col")= status.id
          th(scope="col")= status.name
          th(scope="col")
            a.nav-link(href=route('editStatus', { id: status.id }))= t('views.statuses.index.edit')
            +buttonTo(route('deleteStatus', 'delete'))(class="btn nav-link" value=t('views.statuses.index.delete'))


