extends ../layouts/application.pug

block content
  a.nav-link(href=route('newTask'))= t('views.tasks.index.new')
  table.table
    thead
      tr
        th(scope="col")= t('views.tasks.id')
        th(scope="col")= t('views.tasks.name')
        th(scope="col")= t('views.tasks.status')
        th(scope="col")= t('views.tasks.creator')
        th(scope="col")= t('views.tasks.executor')
        th(scope="col")
    tbody
      each task in tasks
        tr
          th(scope="col")= task.id
          th(scope="col")= task.name
          th(scope="col")= task.status.name
          th(scope="col")= task.creator.fullName()
          th(scope="col")= task.executor.fullName()
          th(scope="col")
            a(href=route('editTask', { id: task.id }))= t('views.tasks.index.edit')
            +buttonTo(route('deleteTask', { id: task.id }), 'delete')(class="btn btn-link" value=t('views.tasks.index.delete'))


