extends ../layouts/application.pug

block content
  a.nav-link(href=route('newTask'))= t('views.tasks.index.new')
  .jumbotron.p-2
    +formFor()(action=route('tasks') method='get')
      +select(filter, 'statusId', t('views.tasks.index.filter.status'), statuses)
      +select(filter, 'executorId', t('views.tasks.index.filter.executor'), executors)
      +select(filter, 'labelId', t('views.tasks.index.filter.label'), labels)
      +checkbox(filter, 'isCreator', t('views.tasks.index.filter.isCreator'))
      +submit(filter)(value=t('views.tasks.index.show'))


  table.table
    thead
      tr
        th(scope="col")= t('views.tasks.id')
        th(scope="col")= t('views.tasks.name')
        th(scope="col")= t('views.tasks.status')
        th(scope="col")= t('views.tasks.creator')
        th(scope="col")= t('views.tasks.executor')
        th(scope="col")
    tbody
      each task in tasks
        tr
          td(scope="col")= task.id
          td(scope="col")
            a(href=route('task', { id: task.id }))= task.name
          td(scope="col")= task.status.name
          td(scope="col")= task.creator.fullName()
          td(scope="col")= task.executor.fullName()
          td(scope="col")
            a(href=route('editTask', { id: task.id }))= t('views.tasks.index.edit')
            +buttonTo(route('deleteTask', { id: task.id }), 'delete')(class="btn btn-link" value=t('views.tasks.index.delete'))


